/* Bulma 0.9.4 Edition Customize for Inkwell
 * ---
 * author: scholar7r <scholar7r@outlook.com>
 */

//$body-background-color: $scheme-main;
$body-size: 16px;
$body-min-width: 300px;
//$body-color: $text;
$body-line-height: 1.5;
$family-primary: "Literata", "Noto Serif SC", sans-serif;
$family-secondary: "Work Sans", "Noto Serif SC", sans-serif;
$family-code: "Source Code Pro", monospace;

$size-1: 2.375em;
$size-2: 1.75em;
$size-3: 1.625em;
$size-4: 1.5em;
$size-5: 1.25em;
$size-6: 1.125em;
$size-7: 0.875em;

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-extrabold: 800;
$weight-ultrabold: 900;

//$link: ;
//$link-invert: ;
//$link-light: ;
//$link-dark: ;
//$link-visited: ;
//$link-hover: ;
$link-hover-border: transparent;
//$link-focus: ;
$link-focus-border: transparent;
//$link-active: ;
$link-avtive-border: transparent;
