$primary-bg-color: #ffffff;
$secondary-bg-color: #4a4a4a;
$container-bg-color: #d9d9d9;
$header-bg-color: #ffffff;
$footer-bg-color: #ffffff;
$content-bg-color: #ffffff;
$text-color: #000000;
$heading-text-color: #000000;
$meta-text-color: #000000;
$link-color: #000000;
$link-hover-color: #761028;
$accent-color: #761028;

$main-line-height: 1.5;
$main-font-family: "Literata", "Noto Serif SC", sans-serif;
$main-font-size: 1em;

$heading-font-family: "Work Sans", "Noto Serif SC", sans-serif;
$h1-font-size: 2.375em;
$h2-font-size: 1.75em;
$h3-font-size: 1.625em;
$h4-font-size: 1.5em;
$h5-font-size: 1.25em;
$h6-font-size: 1.125em;

$code-font-family: "Source Code Pro";
$code-font-size: .875em;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-ultra-bold: 900;


// global
body {
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  color: $heading-text-color;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}


code {
  font-family: $code-font-family;
  font-size: $code-font-size;
  border-radius: 1em;
}

.highlight {
  margin-bottom: .75em;

  pre {
    border-radius: 1em;
  }
}

blockquote {
  border-radius: 1em;
}

// header
.logo {
  font-weight: $font-weight-ultra-bold;

  a:hover {
    color: $accent-color;
  }
}

.navbar-end > .is-active > .navbar-item {
  padding: 3em;
}

.navbar-item:hover, .navbar-item:focus {
  color: $accent-color;
}

.navbar-end {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

.link {
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: $accent-color!important;
  }
}

// hero
.hero {
  padding: 2.65em 0;
}

.custom-button {
  color: $text-color;
  font-size: $code-font-size;
}

.custom-button:hover {
  color: $accent-color;
}

// toc
.toc {
  background-color: $container-bg-color;
  border-radius: 1em;
  padding: .75em;
  font-family: $heading-font-family;
  font-weight: $font-weight-bold;
}

.toc-label {
  cursor: pointer;
}

.toc > nav ul:first-child {
  margin-left: 0;
}

.toc > nav ul {
  list-style: none;
  font-family: $main-font-family;
}

.toc > nav ul > li > a {
  color: $accent-color;
}

// article
.article-item {
  .title {
    a {
      color: $text-color;
    
      &:hover {
        color: $accent-color;
        text-decoration: underline;
      }
    }
  }
}

.article-title {
  color: $text-color!important;
}

.article-title > a {
  color: $text-color;

  &:hover {
    color: $accent-color;
  }
}

.subtitle {
  font-size: $main-font-size;
}

// pagination
.pagination {
  .pagination-previous:focus,
  .pagination-next:focus,
  .pagination-list li > a:focus {
    border-color: $accent-color;
  }

  .pagination-list li > .is-current {
    background-color: $accent-color;
    border-color: $accent-color;
  }
}

// footer
.footer {
  background-color: $primary-bg-color;
  padding: 4.25em 0;
}

.copyright, .social {
  a {
    color: $text-color;
    
    &:hover {
      color: $accent-color;
    }
  }
}
