/* Global */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--emphasis-font);
}

.article-entry {
  font: var(--normal-weight) var(--big-size) var(--content-font);
}

.title {
  font: var(--bold-weight) var(--title-size) var(--emphasis-font);
  color: var(--content-light);
}

/* Header */
.logo {
  font: var(--bolder-weight) var(--logo-size) var(--content-font);
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-end > .is-active > .navbar-item {
  padding: 3em;
}

.navbar-item:hover, .navbar-item:focus {
  color: var(--accent-light) !important;
}

.navbar-end {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}

.link {
  font: var(--normal-weight) var(--big-size) var(--content-font);
  color: var(--content-light) !important;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hero */
.hero {
  padding: 30px 0;
}

.subtitle {
  font: var(--normal-weight) var(--big-size) var(--content-font);
  color: var(--content-color);
}

.custom-button {
  font: var(--bolder-weight) var(--normal-size) var(--emphasis-font);
  color: var(--content-color);
}
/* Table of Content */
.toc {
  background-color: var(--container-light);
  border-radius: 15px;
  font: var(--bold-weight) var(--big-size) var(--emphasis-font);
  padding: 10px;
}

.toc-label {
  font-family: var(--emphasis-font);
  display: flex;
  cursor: pointer;
}

.toc-label i {
  display: flex;
  align-items: center;
}

.toc > nav ul {
  margin-top: 0;
  list-style: none;
  font: var(--bold-weight) var(--big-size) var(--content-font);
}

.toc > nav ul > li {
  margin-top: 0;
}

.toc > nav ul > li > a {
  color: var(--accent-light);
}


.toc > nav ul:first-child {
  margin-left: 0;
}

/* Content */
.article-title > a {
  color: var(--content-light);
}

.article-title > a:hover {
  color: var(--accent-light);
  text-decoration: underline;
  text-decoration-skip: auto;
}

.summary {
  font: var(--normal-weight) var(--big-size) var(--content-light);
}

.article-entry code {
  font-family: var(--source-code-font);
  border-radius: 15px;
}

.highlight {
  margin-bottom: 16px;
  border-radius: 12px;
}

.highlight pre {
  border-radius: 14px;
}

/* Pagination */
.pagination {
  font-family: var(--content-light);
  font-size: var(--normal-size);
}

.pagination-previous:focus,
.pagination-next:focus,
.pagination-list li > a:focus {
  border-color: var(--accent-light);
}

.pagination-list li > .is-current {
  background-color: var(--accent-light) !important;
  border-color: var(--accent-light) !important;
}

/* Footer */
.footer {
  background-color: var(--bg-light);
  padding-left: 0;
  padding-right: 0;
}

.copyright, .social {
  font: var(--normal-weight) var(--big-size) var(--content-font);
  color: var(--content-light);
}

.social > a {
  color: var(--content-light);
}

.social > a:hover {
  color: var(--accent-light);
}
