:root {
  --main-font: "Literata", sans-serif;
  --stress-font: "Work Sans", sans-serif;
  --source-font: "Source Code Pro", monospace;
  --accent-color: #761028;
  --content-color: #000000;
}

/* Global */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--stress-font);
}

.article-entry {
  font: 400 20px var(--main-font);
}

.title {
  font: 700 60px var(--stress-font);
  color: var(--content-color);
}

/* Header */
.logo {
  font: 800 22px var(--main-font);
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item:hover, .navbar-item:focus {
  color: var(--accent-color) !important;
}

.link {
  font: 400 18px var(--main-font);
  color: var(--content-color) !important;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hero */
.subtitle {
  font: 400 20px var(--main-font);
  color: var(--content-color);
}

.custom-button {
  font: 800 18px var(--stress-font);
  color: var(--content-color);
}
/* Table of Content */
.toc {
  background-color: #D9D9D9;
  border-radius: 15px;
  font: 700 20px var(--main-font);
  padding: 10px;
}

.toc-label {
  font-family: var(--stress-font);
  display: flex;
  cursor: pointer;
}

.toc-label i {
  display: flex;
  align-items: center;
}

.toc > nav ul {
  margin-top: 0;
  list-style: none;
  font: 700 20px var(--main-font);
}

.toc > nav ul > li {
  margin-top: 0;
}

.toc > nav ul > li > a {
  color: #761028;
}


.toc > nav ul:first-child {
  margin-left: 0;
}

/* Content */
.article-title > a {
  color: var(--content-color);
}

.article-title > a:hover {
  color: var(--accent-color);
  text-decoration: underline;
  text-decoration-skip: auto;
}

.summary {
  font: 400 20px var(--main-font);
}

.article-entry code {
  font-family: 'Source Code Pro';
  border-radius: 15px;
}

.highlight code {
  font-family: var(--source-font) !important;
  font-size: 16px;
}

/* Pagination */
.pagination {
  font-family: Literata, sans-serif;
  font-size: 20px;
}

.pagination-previous:focus,
.pagination-next:focus,
.pagination-list li > a:focus {
  border-color: var(--accent-color);
}

.pagination-list li > .is-current {
  background-color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
}

/* Footer */
.footer {
  background-color: #ffffff;
  padding-left: 0;
  padding-right: 0;
}

.copyright, .social {
  font: 400 18px var(--main-font);
  color: var(--content-color);
}

.social > a {
  color: var(--content-color);
}

.social > a:hover {
  color: var(--accent-color);
}
