/* Inkwell Stylesheet variables */
:root {
  /* Fonts */
  --content-font: "Literata", "Noto Sans SC", sans-serif;
  --emphasis-font: "Work Sans","Noto Sans SC", sans-serif;
  --source-code-font: "Source Code Pro" monospace;

  /* Colors */
  --accent-color: #761028;
  --content-color: #000000;
}
