{{- define "content" -}}
<div class="hero has-text-centered mb-6">
  {{- if .Title -}}
  <h1 class="title">{{- .Title -}}</h1>
  {{- end -}}
</div>
<div class="article-entry content">
  {{- range .Pages -}}
  <h2 class="title article-title mt-4">
    <a href="{{- .Permalink -}}">{{- .Title -}}</a>
  </h2>
  <div class="article-item">
    {{- range .Pages -}}
    <ul>
      <li>
        <p class="article-title">
          <a href="{{- .Permalink -}}">{{- .Title -}}</a>
        </p>
      </li>
    </ul>
    {{- end -}}
  </div>
  {{- end -}}
</div>
{{- end -}}
