{{ define "content" }}
  <div class="hero has-text-centered mb-6">
    {{ if .Title }}
    <h1 class="title is-size-1-mobile">{{ .Title }}</h1>
    {{ end }}
    <p class="subtitle">
      {{ if .Date }}
        {{ .Date | time.Format .Site.Params.article.timeFormat }} /
      {{ end }}
      {{ if .Params.Categories }}
        {{ T "in_category" .Params.Categories }}
      {{ end }}
    </p>
  </div>
  {{ if .Site.Params.toc.enableSmartTOC }}
    {{ partial "toc.html" . }}
  {{ end }}
  <div class="article-entry content">

    {{ .Content }}
  </div>
{{ end }}