<nav class="navbar is-transparent mb-6">
  <div class="logo navbar-brand">
    <a href="/" class="navbar-item">{{ .Site.Params.header.logoText }}</a>
    <a class="navbar-burger" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-menu" id="navbar">
      {{ range .Site.Params.header.links }}
      <a href="{{ .link }}" class="link navbar-item">{{ .label }}</a>
      {{ end }}
    </div>
  </div>
</nav>