{{- $site_title := .Site.Title -}}
{{- $page_title := .Title -}}

<head>
  {{- partial "meta.html" . }}

  <title>{{- if .IsPage -}}{{ $page_title }} | {{ end }}{{- $site_title -}}</title>

  <link rel="icon" href="{{- .Site.Params.favicon -}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  {{- $sass := resources.Get "sass/main.scss" -}}
  {{- $style := $sass | resources.ToCSS | resources.Fingerprint | minify -}}
  <link rel="stylesheet" href="{{- $style.Permalink -}}"/>
</head>
